<launch>
    <!-- output="log|screen" -->
    <node pkg="nvi_planning" name="path_searching" type="local_path_searching_node.py" cwd="node" respawn="true" output="screen">
        <!-- <rosparam file="$(find nvi_planning)/config/global_planning_params.yaml" command="load" /> -->
    </node>
</launch>