<launch>
    <include file="$(find nvi_bringup)/launch/nvi_realsense.launch" />
    <include file="$(find nvi_bringup)/launch/nvi_phone_gps.launch" />

    <!-- <include file="$(find rgbd_transit)/launch/compressed_rgbd_transit.launch" /> -->
    <include file="$(find vins_estimator)/launch/realsense_color.launch" />

    <include file="$(find nvi_planning)/launch/global_planning.launch" />

    <!-- <include file="$(find nvi_belt)/launch/nvi_belt.launch" /> -->
    <include file="$(find nvi_voice)/launch/nvi_voice.launch" />
    
</launch>
